<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN IN</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
    <section class="wrapper">
        <section class="form_wrapper">
            <h1>
                Create an account
            </h1>
            <p>Quickly and easy create an account using theform below.</p>
            <form action="/login" method="POST">
                <input type="text" name="name" id="" placeholder="name ">
                <input type="text" name="password" id="" placeholder="password">
                <input type="submit" value="Create my account">
            </form>
        </section>
    </section>
</body>

</html>